@model SKH_GS_MVC.Models.teach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>teach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teach_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teach_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weekDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weekDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teach_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teach_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.learner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.learner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
